
.controls {
    margin: 50px auto;
    width: max-content;
}

.controls label {
    font-size: 16px;
}

.controls .buttons-wrap {
    margin-top: 20px;
}

.controls button.stop {
    background-color: #F13030;
    margin-left: 10px;
}

.controls button.stop:hover {
    background-color: #cb2525;
}

.input-wrapper {
    margin-bottom: 8px;
}

.input-wrapper input {
    width: 50px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #F13030;
    border-radius: 3px;
    color: #c3efcb;
}

.input-wrapper input:focus {
    outline: none;
    border-color: #c3efcb;
}
.input-wrapper label ~ input {
    margin-left: 10px;
}

.input-wrapper .value-hint {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
    color: #457e77;
}