@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');


.moon-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -5;
}
.moon-svg {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 300px;
  height: 300px;
  z-index: -5;
  -webkit-animation: moonOrbit 40s linear infinite;
  -moz-animation: moonOrbit 40s linear infinite;
  -o-animation: moonOrbit 40s linear infinite;
  animation: moonOrbit 40s linear infinite;

}

.ground-svg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.main {
  z-index: 1;
}
.header {
  text-align: center;
  margin-top: 80px;
  z-index: 1;
}
.title{
  font-size: 52px;
  line-height: 60px;
  margin-bottom: 0px;
  font-family: 'Eater', sans-serif;
  color: #F13030;
}

.sub-title {
  font-size: 18px;
  margin-top: 8px;
  font-family: 'Schoolbell', sans-serif;
}

button {
  padding: 5px 10px;
  outline: none;
  background-color: #5ca79e;
  color: #0f1922;
  font-family: 'Eater', sans-serif;
  font-size: 20px;
  border: 0px;
  border-radius: 3px;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #69bfb5;
}

.night-sky {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: moonLight 40s linear infinite;
  -moz-animation: moonLight 40s linear infinite;
  -o-animation: moonLight 40s linear infinite;
  animation: moonLight 40s linear infinite;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  z-index: -10;
}
@-webkit-keyframes moonLight {
  0% { background-color: #0e1a22; }
  33% { background-color: #000; }
  66% { background-color: #152330; }
  100% { background-color: #0e1a22; }
}

@-moz-keyframes moonLight {
  0% { background-color: #0e1a22; }
  33% { background-color: #000; }
  66% { background-color: #152330; }
  100% { background-color: #0e1a22; }
}

@-o-keyframes moonLight {
  0% { background-color: #0e1a22; }
  33% { background-color: #000; }
  66% { background-color: #152330; }
  100% { background-color: #0e1a22; }
}

@keyframes moonLight {
  0% { background-color: #0e1a22; }
  33% { background-color: #000; }
  66% { background-color: #152330; }
  100% { background-color: #0e1a22; }
}

@-webkit-keyframes moonOrbit {
  from { -webkit-transform: rotate(0deg) translateX(200%) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(200%) rotate(-360deg); }
}

@-moz-keyframes moonOrbit {
  from { -moz-transform: rotate(0deg) translateX(200%) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(200%) rotate(-360deg); }
}

@-o-keyframes moonOrbit {
  from { -o-transform: rotate(0deg) translateX(200%) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(200%) rotate(-360deg); }
}

@keyframes moonOrbit {
  from { transform: rotate(0deg) translateX(200%) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(200%) rotate(-360deg); }
}